@media screen and (min-width: 1024px) and (max-width: 1199px) {

}
@media screen and (min-width: 960px) and (max-width: 1023px) {

}
@media screen and (min-width: 768px) and (max-width: 959px) {

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}
@media only screen and (max-width: 479px) {
	html,body{width: 750px;}
	header{height: auto;}
	.header{width: 100%;margin: 0;display:flex;height: 100px;}
	.nav,.banner,.top-center{display: none;}
	.header>.left:nth-child(1){width: 150px;margin-top: -5px;}
	.lic{display: none;}
	.content .c1{width:auto;display:flex;flex-flow: column;}
	.content .c2{width: 100%;}
   
}
	
	
	
	
	
	
	
        
